# Virtual enviroment
env/

# Python things
__pycache__/

# Flask things
instance/
.webassets-cache

# Svelte
client/.DS_Store
client/node_modules
client/build
client/.svelte-kit
client/package
client/.env
client/.env.*
client/!.env.example
client/vite.config.js.timestamp-*
client/vite.config.ts.timestamp-*