body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

.place-list {
    list-style-type: none;
    padding: 0;
}

.place-item {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    position: relative;
}

.place-name {
    color: #007bff;
    font-size: 24px;
}

.place-address {
    color: #6c757d;
    font-size: 18px;
}

.place-description {
    color: #343a40;
    font-size: 16px;
}
.nav-button-2 {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
}
.form-container {
      display: flex;
      justify-content: center;
}
form {
      width: 50%;
}
.form-field {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
}
label {
      margin-right: 10px;
}
.error {
      color: red;
}
.submit-button {
      display: flex;
      justify-content: center;
}
.delete-button {
    position: absolute;
    right: 10px;
    bottom: 50px;
    border-radius: 5px;
    border: none;
    background-color: rgb(186, 28, 28);
    color: white;
    padding: 10px;
    cursor: pointer;
}
.delete-button:hover {
    background-color: rgb(255, 0, 0);
}