<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Website{% endblock %}</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='calendar.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='event_details.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <header>
        <nav>
            <ul class="nav-menu">
                <li><button class="nav-button" onclick="window.location.href='{{ url_for('index') }}';">All events</button></li>
                {% if current_user.is_authenticated %}
                <li><button class="nav-button" onclick="window.location.href='{{ url_for('home') }}';">Your calendar</button></li>
                <li><button class="nav-button" onclick="window.location.href='{{ url_for('create_event') }}';">Create event</button></li>
                <li><button class="button-log" onclick="window.location.href='{{ url_for('logout') }}';">Log Out</button></li>
                {% else %}
                <li><button class="nav-button" onclick="window.location.href='{{ url_for('login') }}';">Log In</button></li>
                <li><button class="nav-button" onclick="window.location.href='{{ url_for('register') }}';">Create a New Account</button></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>© 2023 Event manager</p>
    </footer>
</body>
</html>
