{% extends "base.html" %}

{% block content %}
    <header>
        <h1>Categories</h1>
    <div style="display: flex; justify-content: center;">
    <button class="nav-button-2" onclick="window.location.href='{{ url_for('propose_category') }}';">Propose a new category</button>
    </div>
    </header>

    <main>
        <ul class="place-list">
            {% for category in categories %}
                <li class="place-item">
                    {% if category.parent %}
                    <h2 class="place-name">{{ category.parent.name }} -> {{ category.name }}</h2>
                    {% else %}
                    <h2 class="place-name">{{ category.name }}</h2>
                    {% endif %}
                    <p class="place-description">{{ category.description }}</p>
                    <div class="subcategory-list">
                        {% if category.children|length == 0 %}
                            <p>No subcategories</p>
                        {% else %}
                            <p>Subcategories:</p>
                            <ul>
                            {% for subcategory in category.children %}
                                <li>{{ subcategory.name }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="event-list">
                        {% if category.events|length == 0 %}
                            <p>No events from this category</p>
                        {% else %}
                            <p>Events from this category:</p>
                        {% endif %}
                        {% for event in category.events %}
                            {% if event.approved == false and event.owner_id == current_user.id %}
                            <button class="event-unapproved" onclick="window.location.href='{{ url_for('edit_event', id=event.id) }}';">{{ event.name }}</button>
                            {% elif event.approved %}
                            <button class="event" onclick="window.location.href='{{ url_for('event', id=event.id) }}';">{{ event.name }}</button>
                            {% endif %}
                        {% endfor %}
                    </div>

                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}