{% extends "base.html" %}

{% block content %}
<div class="event_details">
    <h2>{{ event.name }}</h2>
    {% if current_user == event.owner or current_user.role.value > 1 %}
        <form method="POST">
            {{ delete_form.hidden_tag() }}
            <button type="submit" name="delete_event" class="button-log">Delete event</button>
        </form>
    {% endif %}
    {% if event.approved == false %}
    <div style="color: red;"">UNAPPROVED: Waiting for approval from moderators</div>
            <a href=" {{ url_for('edit_event', id=event.id) }}" class="button-log">Edit Event</a>
        {% endif %}
        <div class="detail"><strong>Created by:</strong> <span>{{ event.owner.name }}</span></div>
        <div class="detail"><strong>Starts:</strong> <span>{{ event.start_datetime }}</span></div>
        <div class="detail"><strong>Ends:</strong> <span>{{ event.end_datetime }}</span></div>
        <div class="detail"><strong>Capacity:</strong> <span>{{ filled_capacity }} / {{ event.capacity }}</span></div>
        <div class="detail-cat"><strong>Categories:</strong>
            {% for category in event.categories %}
            {% if category.parent %}
            <div class="event-categories-tag">{{ category.parent.name }} -> {{ category.name }}</div>
            {% else %}
            <div class="event-categories-tag">{{ category.name }}</div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="detail-cat"><strong>Place:</strong>
            <div class="event-places-tag">{{ event.place.name }}</div>
        </div>
        <div class="detail-cat"><strong>Admission:</strong></div>
        {% if event.admissions %}
        {% for admission in event.admissions %}
        <div class="event-places-tag">{{ admission.name }}: EUR {{ admission.amount }}</div>
        {% endfor %}
        {% else %}
        <div class="event-places-tag">Free to attend</div>
        {% endif %}
        <div class="description">
            <p>{{ event.description }}</p>
        </div>
        {% if event.image %}
        <img class="event_image" src="{{ event.image }}" alt="Event Image">
        {% endif %}
    </div>
    {% if current_user.is_authenticated %}
    {% if event.approved == false and current_user.role.value > 1 %}
        <form method="POST">
            {{ approval_form.hidden_tag() }}
            <button type="submit" name="approve" class="button-log">Approve</button>
        </form>
    {% endif %}
    {% endif %}
    {% if current_user.is_authenticated and event.start_datetime > now and event.approved %}
    {% if current_user not in event.users %}
    <form method="POST">
        {{ attend_form.hidden_tag() }}
        <button type="submit" name="attend" class="button-log">Attend</button>
    </form>
    {% else %}
    <h3>This event is in your calendar of events to attend.</h3>
    <form method="POST">
        {{ cancel_attend_form.hidden_tag() }}
        <button type="submit" name="cancel_attend" class="button-log">Cancel attend</button>
    </form>
    {% endif %}
    {% endif %}

    {% if event.end_datetime < now and event.approved %} <div class="reviews">
        <h3>Reviews</h3>
        {% for review in event.reviews %}
        <div class="review">
            <p class="review-user">{{ review.user.name }}</p>
            <p class="comment">{{ review.comment }}</p>
            <p class="rating">Rating: {{ review.rating }} / 10</p>
            {% if current_user.is_authenticated %}
                {% if current_user.role.value > 1 or current_user.id == review.user_id %}
                {{ approval_form.hidden_tag() }}
                    <form method="POST">
                    <input type="hidden" name="review_id" value="{{ review.id }}">
                    <button type="submit" name="delete_review" class="delete-button-2">Delete review</button>
                    </form>
                {% endif %}
            {% endif %}
        </div>
        {% endfor %}
</div>
{% if current_user in event.users %}
<h3>How did you like the event?</h3>
<div class="review_form">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.comment.label }} {{ form.comment(class="form-control") }}
        </div>
        <div>
            {{ form.rating.label }} {{ form.rating(class="form-control") }}
        </div>
        <button type="submit" name="submit_review" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endif %}
{% endif %}
<!-- to the owner of the event, show list of users that are in a queue of requests and let the user approve those requests through button -->
{% if current_user == event.owner and event.approved %}
    <!-- a little bit of space -->
    <br><br><br>
    {% if user_events %}
    <h3>Requests to join the event</h3>
    {% endif %}

    {% for user_event in user_events %}
        {% if user_event.approved == false %}
            <div class="place-item">
                <div class="place-name">{{ user_event.user.name }}</div>
                <form method="POST">
                    {{ request_approval_form.hidden_tag() }}
                    <input type="hidden" name="user_id" value="{{ user_event.user.id }}">
                    <input type="hidden" name="event_id" value="{{ user_event.event.id }}">
                    <button type="submit" name="approve_request" class="button-log">Approve request</button>
                    <button type="submit" name="cancel_request" class="button-log">Cancel request</button>
                </form>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}


{% endblock %}