{% extends "base.html" %}

{% block content %}
    <div class="event_details">
        <h2>{{ event.name }}</h2>
        <div class="detail"><strong>Starts:</strong> <span>{{ event.start_datetime }}</span></div>
        <div class="detail"><strong>Ends:</strong> <span>{{ event.end_datetime }}</span></div>
        <div class="detail"><strong>Capacity:</strong> <span>{{ event.capacity }}</span></div>
        <div class="detail-cat"><strong>Categories:</strong>
            {% for category in event.categories %}
                <div class="event-categories-tag">{{ category.name }}</div>
            {% endfor %}
        </div>
        <div class="detail-cat"><strong>Place:</strong>
            <div class="event-places-tag">{{ event.place.name }}</div>
        </div>
        <div class="description">
            <p>{{ event.description }}</p>
        </div>
        {% if event.image %}
            <img class="event_image" src="{{ event.image }}" alt="Event Image">
        {% endif %}
    </div>
    {% if current_user.is_authenticated and event.start_datetime > now %}
        <div class="entry_request">
            <button class="button-log">Request for entry</button>
            <p>Note: A fee may be required for admission!</p>
        </div>
    {% endif %}
    {% if event.end_datetime < now %}
    <div class="reviews">
        <h3>Reviews</h3>
        {% for review in event.reviews %}
            <div class="review">
                <p class="review-user">{{ review.user.name }}</p>
                <p class="comment">{{ review.comment }}</p>
                <p class="rating">Rating: {{ review.rating }} / 10</p>
            </div>
        {% endfor %}
    </div>
    {% if current_user in event.users %}
        <h3>Submit a Review</h3>
        <div class="review_form">
            <form method="POST">
                {{ form.hidden_tag() }}
                <div>
                    {{ form.comment.label }} {{ form.comment(class="form-control") }}
                </div>
                <div>
                    {{ form.rating.label }} {{ form.rating(class="form-control") }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    {% endif %}
    {% endif %}
{% endblock %}
