{% extends "base.html" %}
{% block content %}
  <div style="display: flex; justify-content: center;">
    <form method="POST">
      <h1>Login</h1>
      {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
      {% endif %}
      <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
        <label for="username" style="margin-right: 10px;">Username:</label>
        <input type=text id="username" name=name value="{{ request.form.username }}" required>
      </div>
      <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
        <label for="password" style="margin-right: 10px;">Password:</label>
        <input type=password id="password" name=password required>
      </div>
      <div class="nav-menu">
          <button class="button-log" type=submit>Log in</button>
      </div>
    </form>
  </div>
{% endblock %}
