{% extends "base.html" %}

{% block content %}
    <header>
        <h1>Places</h1>
    <div style="display: flex; justify-content: center;">
    <button class="nav-button-2" onclick="window.location.href='{{ url_for('propose_place') }}';">Propose a new place</button>
    </div>
    </header>

    <main>
        <ul class="place-list">
            {% for place in places %}
                {% if place.approved == true or current_user.role.value > 1 %}
                <li class="place-item">
                    <h2 class="place-name">{{ place.name }}</h2>
                    <p class="place-address">{{ place.address }}</p>
                    <p class="place-description">{{ place.description }}</p>
                    {% if place.approved == false %}
                        <p class="place-status">Waiting for approval</p>
                    {% endif %}
                    <p class="place-description">{{ place.description }}</p>
                    <div class="event-list">
                        {% if place.events|length == 0 %}
                            <p>No events at this place</p>
                        {% else %}
                            <p>Events at this place:</p>
                        {% endif %}
                        {% for event in place.events %}
                            {% if event.approved == false and event.owner_id == current_user.id %}
                            <button class="event-unapproved" onclick="window.location.href='{{ url_for('event', id=event.id) }}';">{{ event.name }}</button>
                            {% elif event.approved %}
                            <button class="event" onclick="window.location.href='{{ url_for('event', id=event.id) }}';">{{ event.name }}</button>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% if place.approved == false and current_user.is_authenticated %}
                    {% if current_user.role.value > 1 %}
                        <button class="event-unapproved" onclick="window.location.href='{{ url_for('approve_place', id=place.id) }}';">Approve</button>
                    {% endif %}
                    {% endif %}
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </main>
{% endblock %}
